/*
 Copyleft 2015 hungct.

 This source code is free to use, free to edit and free to share.

 For more information, please mail to thanhhungchu95@gmail.com or godevil.spy@gmail.com.

*/
/* 
    Created on : Nov 7, 2015, 7:15:16 AM
    Author     : hungct
*/

body {
    background-color: aqua;
}

h2 {
    color: crimson;
}